.container {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: flex-end;
}

.image {
  height: 600px;
  width: 600px;

  object-fit: scale-down;
  background: black;

  border-radius: 10px;
}

.data {
  position: absolute;
  padding: 10px;
  color: white;
  background: rgb(1, 1, 1, 0.5);
  border-radius: 10px;
}

.value {
  color: rgb(255,255,255,0.75);
}